body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
   font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    src: url("SFProDisplay-Regular.ttf") !important;
 
    color: #980c0c;

}

@font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 300;
    src: url("SFProText-Light.ttf");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 400;
    src: url("SFProText-Regular.ttf");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 500;
    src: url("SFProText-Medium.ttf");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 600;
    src: url("SFProText-SemiBold.ttf");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 700;
    src: url("SFProText-Bold.ttf");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 900;
    src: url("SFProText-Heavy.ttf");
  }
  
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 100;
    src: url("SFProDisplay-Ultralight.ttf");
  }
  
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 200;
    src: url("SFProDisplay-Thin.ttf");
  }
  
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 300;
    src: url("SFProDisplay-Light.ttf");
  }
  
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    src: url("SFProDisplay-Regular.ttf");
  }
  
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    src: url("SFProDisplay-Medium.ttf");
  }
  
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    src: url("SFProDisplay-SemiBold.ttf");
  }
  
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    src: url("SFProDisplay-Bold.ttf");
  }
  
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 800;
    src: url("SFProDisplay-Black.ttf");
  }
  
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 900;
    src: url("SFProDisplay-Heavy.ttf");
  }
  


h1{
    font-family: "SF Pro Text" !important;
    font-style: normal !important;
    font-weight: 700 !important;
    src: url("SFProText-Heavy.ttf") !important;
}

  form#login-form {
    top:50px;
    position: relative;
    background: white;
    padding: 40px;
    border-radius: 10px;
 width:250px;
 margin: auto;
 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input{
    color: #980c0c;
  }
  form input,
  form button,
  #toggle-password {
    width: 250px;
    outline: none;

    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #980c0c;
  }
  
  #toggle-password {
    background: #980c0c;
color: white;
    text-align: center;
    cursor: pointer;
  }
  
  form button {
    background-color: white !important;
    border: 1px solid #980c0c !important;
    color: #980c0c !important;
    width: 270px;
    border: none;
    cursor: pointer;


    transition: background-color 0.3s ease;
  }
  

  form button:hover {
    background-color: #980c0c !important;
    border: 1px solid #980c0c !important;
    color: white !important;
   
  }
  

  #message {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    pointer-events: none;
  }
  
  /* Slide up cloud effect */
  #message.show {
    transform: translateX(-50%) translateY(-50px);
    opacity: 1;
  }
  